<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="container-fluid" bis_skin_checked="1">
        <a class="navbar-brand" routerLink="/" routerLinkActive="Active">Date Rica</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1"> -->
          <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentuser$ | async"> -->
            <ul class="navbar-nav me-auto mb-2 mb-md-0" > 
              <ng-container *ngIf="accountService.currentuser$ | async">
                <li class="nav-item">
                  <a class="nav-link " routerLink="/members" routerLinkActive="Active">Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/lists" routerLinkActive="Active">list</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " routerLink="messages" routerLinkActive="Active" >Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " (click)="logout()">logout</a>
                </li>
              </ng-container>
            
          </ul>
           <div class="dropdown" *ngIf="(accountService.currentuser$ | async) as User" dropdown>
            <a  class="dropdown-toggle text-light" dropdownToggle>Welcome {{User.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a  class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="logout()">Logout</a>
              
            </div>
           </div>

          <form *ngIf="(accountService.currentuser$ | async)===null" #LoginForm="ngForm" class="d-flex form-inline mt-2 mt-md-0" role="search" (ngSubmit)="login()" autocomplete="off">
            <input class="form-control me-2"  name="username"  [(ngModel)]="model.username" type="text" placeholder="username"  aria-label="Login">
            <input class="form-control me-2" name="password"   [(ngModel)]="model.password" type="password" placeholder="password" aria-label="Login">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </nav>
